<h1>Gestionar condiciones prioritarias</h1>

<p>
    <strong>Vecino:</strong>
    {{ vecino.pri_nombre }} {{ vecino.apell_paterno }} {{ vecino.apell_materno }}
</p>

<form method="POST">
    {% csrf_token %}

    {% for tipo in tipos %}
        <label>
            <input
                type="checkbox"
                name="discapacidades"
                value="{{ tipo.id_tipo_discap }}"
                {% if tipo.id_tipo_discap|stringformat:"s" in ids_actuales %}checked{% endif %}
            >
            {{ tipo.nom_tipo_discap }}
        </label>
        <br>
    {% endfor %}

    <br>

    <button type="submit">Guardar condiciones</button>
</form>

<br>

<a href="{% url 'vecinos_prioritarios' %}">Volver</a>