<h1>Vecinos prioritarios</h1>

<a href="{% url 'panel_superadmin' %}">Volver al panel</a>

<br><br>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<table border="1" cellpadding="8">
    <tr>
        <th>Nombre</th>
        <th>RUT</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Acción</th>
    </tr>

    {% for vecino in vecinos %}
        <tr>
            <td>{{ vecino.pri_nombre }} {{ vecino.apell_paterno }} {{ vecino.apell_materno }}</td>
            <td>{{ vecino.rut }}</td>
            <td>{{ vecino.correo }}</td>
            <td>{{ vecino.telefono }}</td>
            <td>
                <a href="{% url 'gestionar_discapacidad_vecino' vecino.id_vecino %}">
                    Gestionar condiciones
                </a>
            </td>
        </tr>
    {% endfor %}
</table>