{% extends "base_panel.html" %}

{% block titulo %}
Cerrar Solicitud
{% endblock %}

{% block contenido %}


<h1>Cerrar solicitud</h1>

<p>
    <strong>Vecino:</strong>
    {{ solicitud.id_vecino.pri_nombre }}
    {{ solicitud.id_vecino.apell_paterno }}
    {{ solicitud.id_vecino.apell_materno }}
</p>

<p><strong>Tipo solicitud:</strong> {{ solicitud.id_tsolicitud.tipo_solicitud }}</p>
<p><strong>Descripción:</strong> {{ solicitud.descripcion }}</p>
<p><strong>Emitido:</strong> {{ solicitud.fecha_solicitud }}</p>
<p><strong>Estado actual:</strong> {{ solicitud.estado }}</p>

<form method="POST">
    {% csrf_token %}

    <label>Comentario del presidente</label><br>
    <textarea name="comentario_presidente" rows="5" required></textarea>

    <br><br>

    <button type="submit" name="accion" value="aprobar">
        Aprobar
    </button>

    <button type="submit" name="accion" value="rechazar">
        Rechazar
    </button>
</form>
<br>

<a href="{% url 'solicitudes_presidente' %}">Volver</a>

{% endblock %}
