{% extends "base_panel.html" %}
{% load static %}

{% block titulo %}
Cerrar Solicitud
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/cerrar_solicitud.css' %}">
{% endblock %}

{% block contenido %}

<div class="cerrar-page">

    <h1>Cerrar solicitud</h1>

    <div class="cerrar-card">

        <div class="solicitud-header">
            <div>
                <h2>{{ solicitud.id_tsolicitud.tipo_solicitud }}</h2>
                <p>
                    {{ solicitud.id_vecino.pri_nombre }}
                    {{ solicitud.id_vecino.apell_paterno }}
                    {{ solicitud.id_vecino.apell_materno }}
                </p>
            </div>

            <span class="estado estado-{{ solicitud.estado|lower|cut:' ' }}">
                {{ solicitud.estado }}
            </span>
        </div>

        <div class="solicitud-info-grid">
            <div>
                <small>Vecino</small>
                <strong>
                    {{ solicitud.id_vecino.pri_nombre }}
                    {{ solicitud.id_vecino.apell_paterno }}
                </strong>
            </div>

            <div>
                <small>Emitido</small>
                <strong>{{ solicitud.fecha_solicitud|date:"d/m/Y H:i" }}</strong>
            </div>

            <div class="full">
                <small>Descripción</small>
                <strong>{{ solicitud.descripcion }}</strong>
            </div>
        </div>

    {% if cambio_domicilio %}
        <div class="cambio-domicilio-box">
            <h3>Cambio de residencia solicitado</h3>

            <div class="info-grid">
                <div class="info-card">
                    <span>Vivienda actual</span>
                    <strong>
                        {% if residencia_actual %}
                            {{ residencia_actual.id_vivienda.nombre_calle }}
                            {{ residencia_actual.id_vivienda.numero_calle }}

                            {% if residencia_actual.id_vivienda.tipo_vivienda == "D" %}
                                <br>
                                Block {{ residencia_actual.id_vivienda.num_block }}
                                Depto {{ residencia_actual.id_vivienda.num_dpto }}
                            {% endif %}
                        {% else %}
                            Sin vivienda registrada
                        {% endif %}
                    </strong>
                </div>

                <div class="info-card">
                    <span>Vivienda solicitada</span>
                    <strong>
                        {{ cambio_domicilio.id_vivienda_destino.nombre_calle }}
                        {{ cambio_domicilio.id_vivienda_destino.numero_calle }}

                        {% if cambio_domicilio.id_vivienda_destino.tipo_vivienda == "D" %}
                            <br>
                            Block {{ cambio_domicilio.id_vivienda_destino.num_block }}
                            Depto {{ cambio_domicilio.id_vivienda_destino.num_dpto }}
                        {% endif %}
                    </strong>
                </div>

                <div class="info-card">
                    <span>Evidencia</span>

                    {% if cambio_domicilio.documento_url %}
                        <strong>{{ cambio_domicilio.tipo_documento }}</strong>
                        <br>
                        <a href="{{ cambio_domicilio.documento_url }}" target="_blank">
                            Ver evidencia
                        </a>
                    {% else %}
                        <strong>Sin evidencia adjunta</strong>
                    {% endif %}
                </div> 
            </div>
        </div>
    {% endif %}

    {% if incorporacion %}
        <div class="cambio-domicilio-box">
            <h3>Solicitud de incorporación</h3>

            <div class="info-grid">
                <div class="info-card">
                    <span>Junta solicitada</span>
                    <strong>{{ incorporacion.id_junta.nombre }}</strong>
                </div>

                <div class="info-card">
                    <span>Sector / comuna</span>
                    <strong>
                        {{ incorporacion.id_junta.id_sector.nombre_sector }}<br>
                        {{ incorporacion.id_junta.id_sector.id_comuna.nom_comuna }},
                        {{ incorporacion.id_junta.id_sector.id_comuna.id_region.nom_region }}
                    </strong>
                </div>

                <div class="info-card">
                    <span>Vivienda indicada</span>
                    <strong>
                        {{ incorporacion.id_vivienda.nombre_calle }}
                        {{ incorporacion.id_vivienda.numero_calle }}

                        {% if incorporacion.id_vivienda.tipo_vivienda == "D" %}
                            <br>
                            Block {{ incorporacion.id_vivienda.num_block }}
                            Depto {{ incorporacion.id_vivienda.num_dpto }}
                        {% endif %}
                    </strong>
                </div>

                <div class="info-card">
                    <span>Evidencia</span>
                    {% if incorporacion.documento_url %}
                        <strong>{{ incorporacion.tipo_documento }}</strong>
                        <br>
                        <a href="{{ incorporacion.documento_url }}" target="_blank">
                            Ver evidencia
                        </a>
                    {% else %}
                        <strong>Sin evidencia adjunta</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


        <form method="POST">
            {% csrf_token %}

            <label>Comentario del presidente</label>
            <textarea
                name="comentario_presidente"
                rows="5"
                placeholder="Escribe un comentario para el vecino..."
                required
            ></textarea>

            <div class="acciones">
                <button
                    class="btn-aprobar"
                    type="submit"
                    name="accion"
                    value="aprobar"
                    onclick="return confirmarCierre('APROBAR');"
                >
                    Aprobar
                </button>

                <button
                    class="btn-rechazar"
                    type="submit"
                    name="accion"
                    value="rechazar"
                    onclick="return confirmarCierre('RECHAZAR');"
                >
                    Rechazar
                </button>

                <a href="{% url 'solicitudes_presidente' %}">
                    Volver
                </a>
            </div>
        </form>

    </div>

</div>

<script>
    function confirmarCierre(accion){
        return confirm(
            "¿Confirma que desea " + accion + " esta solicitud?"
        );
    }
</script>

{% endblock %}