{% extends "base_panel.html" %}

{% block titulo %}
Certificados emitidos
{% endblock %}

{% block contenido %}

<h1>Certificados emitidos</h1>

<form method="GET">
    <label>Buscar vecino:</label>
    <input
        type="text"
        name="q"
        value="{{ busqueda }}"
        placeholder="Nombre, apellido o RUT"
    >

    <button type="submit">Buscar</button>
    <a href="{% url 'certificados_presidente' %}">Limpiar</a>
</form>

<br>

<p>Total certificados encontrados: {{ certificados|length }}</p>

<div style="max-height: 650px; overflow-y: auto; border: 1px solid #ccc; padding: 15px;">
    {% if certificados %}
        <table border="1" cellpadding="8">
            <tr>
                <th>N° certificado</th>
                <th>Vecino</th>
                <th>RUT</th>
                <th>Fecha emisión</th>
            </tr>

            {% for certificado in certificados %}
                <tr>
                    <td>{{ certificado.numero_certificado }}</td>
                    <td>
                        {{ certificado.id_vecino.pri_nombre }}
                        {{ certificado.id_vecino.apell_paterno }}
                        {{ certificado.id_vecino.apell_materno }}
                    </td>
                    <td>{{ certificado.id_vecino.rut }}</td>
                    <td>{{ certificado.fecha_emision|date:"d/m/Y H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No se encontraron certificados.</p>
    {% endif %}
</div>

{% endblock %}
