{% extends "base_panel.html" %}

{% block titulo %}
Publicar noticia
{% endblock %}

{% block contenido %}

<h1>Publicar noticia</h1>

<form method="POST">

    {% csrf_token %}

    <label>Título</label>

    <input
        class="form-input"
        type="text"
        name="titulo"
        maxlength="120"
        required
    >

    <br><br>

    <label>Contenido</label>

    <textarea
        class="form-input"
        rows="8"
        name="descripcion"
        required
    ></textarea>

    <br><br>

    <button class="datos-btn">
        Publicar noticia
    </button>

</form>

{% endblock %}