{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block body %}

<header class="mobile-topbar">
    <button class="mobile-menu-btn" id="mobileMenuBtn">☰</button>
    <strong>UrbanLink</strong>
</header>

<div class="layout">

    <aside class="sidebar" id="sidebar">

        <h2 class="sidebar-logo">UrbanLink</h2>

        <div class="sidebar-user">
            <strong>{{ request.session.nombre }}</strong><br>
            <span>{{ request.session.rol }}</span>
        </div>

        <nav class="sidebar-menu">

            {% if request.session.rol == "Usuario" %}
                <a href="{% url 'panel_vecino' %}">🏠 Panel</a>
                <a href="{% url 'mis_datos' %}">👤 Mis datos</a>
                <a href="{% url 'mis_solicitudes' %}">📄 Mis solicitudes</a>
                <a href="{% url 'vecinos_mi_junta' %}">👥 Vecinos de la junta</a>
                <a href="{% url 'certificado_residencia' %}">📑 Certificado residencia</a>
                <a href="{% url 'noticias_junta' %}">📰 Todas las Noticias</a>

            {% elif request.session.rol == "Admin" %}
                <a href="{% url 'panel_presidente' %}">🏠 Panel</a>
                <a href="{% url 'mis_datos' %}">👤 Mis datos</a>
                <a href="{% url 'viviendas_junta' %}">🏠 Viviendas</a>
                <a href="{% url 'solicitudes_presidente' %}">📄 Solicitudes</a>
                <a href="{% url 'vecinos_mi_junta' %}">👥 Vecinos de la junta</a>
                <a href="{% url 'certificado_residencia' %}">📑 Certificados</a>
                <a href="{% url 'gestionar_noticias' %}">📰 Noticias</a>
                <a href="{% url 'gestionar_eventos' %}">📅 Eventos</a>

            {% elif request.session.rol == "Superadmin" %}
                <a href="{% url 'panel_superadmin' %}">🏠 Panel</a>
                <a href="{% url 'listar_sectores' %}">📍 Gestionar sectores</a>
                <a href="{% url 'listar_juntas' %}">🏘️ Gestionar juntas</a>
                <a href="{% url 'gestionar_vecinos' %}">👥 Gestionar vecinos</a>
            {% endif %}

        </nav>

        <div class="sidebar-footer">
            <a href="{% url 'logout' %}">🚪 Cerrar sesión</a>
        </div>

    </aside>

    <main class="main-content">

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block contenido %}
        {% endblock %}

    </main>

</div>

<script>
    const mobileMenuBtn = document.getElementById("mobileMenuBtn");
    const sidebar = document.getElementById("sidebar");

    mobileMenuBtn.addEventListener("click", () => {
        sidebar.classList.toggle("active");
    });
</script>

{% endblock %}