{% extends "base.html" %}

{% block body %}

<header>

    <h2>UrbanLink</h2>

    {% if request.session.nombre %}
        <p>Bienvenido, {{ request.session.nombre }} | ({{ request.session.rol }})</p>
    {% endif %}

    
    <hr>

</header>

<div class="container">

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block contenido %}
    {% endblock %}

</div>

<hr>

<footer>

    <a href="{% url 'logout' %}">
        Cerrar sesión
    </a>

</footer>

{% endblock %}