{% extends "base_login.html" %}

{% block titulo %}
Iniciar sesión
{% endblock %}

{% block contenido %}

<h2>Iniciar sesión</h2>

<form method="POST">
    {% csrf_token %}

    <label>Correo</label>
    <input type="email" name="correo" placeholder="Tucorreo@ejemplo.com" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button class="login-btn" type="submit">
        Ingresar
    </button>
</form>

<div class="login-links">
    <a href="{% url 'registro' %}">Crear cuenta</a>
    <a href="{% url 'recuperar_contrasenia' %}">¿Olvidaste tu contraseña?</a>
</div>

{% endblock %}