<h1>Mis datos</h1>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<p><strong>Nombre:</strong> {{ vecino.pri_nombre }} {{ vecino.apell_paterno }} {{ vecino.apell_materno }}</p>
<p><strong>RUT:</strong> {{ vecino.rut }}</p>
<p><strong>Correo:</strong> {{ vecino.correo|default:"Sin correo registrado" }}</p>

<p>
    <strong>Cargo actual:</strong>
    {% if cargo_actual %}
        {{ cargo_actual.id_cargo.nombre_cargo }}
    {% else %}
        Vecino
    {% endif %}
</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Teléfono</label><br>
    <input type="number" name="telefono" value="{{ vecino.telefono }}" required><br><br>

    {% if request.session.rol == "Admin" %}
        <h3>Firma digital</h3>

        {% if vecino.firma_digital %}
            <p>Firma actual:</p>
            <img src="{{ vecino.firma_digital }}" width="200">
        {% else %}
            <p>Aún no has subido una firma digital.</p>
        {% endif %}

        <br><br>

        <label>Subir / cambiar firma</label><br>
        <input type="file" name="firma" accept="image/*">
        <br><br>
    {% endif %}

    <button type="submit">Guardar cambios</button>
</form>
<br>

{% if request.session.rol == "Admin" %}
    <a href="{% url 'panel_presidente' %}">Volver al panel</a>
{% elif request.session.rol == "Superadmin" %}
    <a href="{% url 'panel_superadmin' %}">Volver al panel</a>
{% else %}
    <a href="{% url 'panel_vecino' %}">Volver al panel</a>
{% endif %}