<h1>Panel Vecino</h1>

<p>Bienvenido, {{ vecino.pri_nombre }}</p>

<ul>
    <li><a href="{% url 'mis_datos' %}">Mis datos</a></li>
</ul>

{% if not residencia_activa %}
    <p>Debe unirse a una junta para poder comenzar usar UrbanLink.</p>
{% else %}
    <h2>Servicios</h2>

    <ul>
        <li><a href="{% url 'mis_solicitudes' %}">Mis solicitudes</a></li>
        <li><a href="{% url 'vecinos_mi_junta' %}">Vecinos de la junta</a></li>
        <li><a href="{% url 'generar_certificado' %}">Descargar certificado de residencia</a></li>    </ul>
{% endif %}

<a href="{% url 'logout' %}">Cerrar sesión</a>