{% extends "base_panel.html" %}

{% block titulo %}
Panel Principal | Presidente
{% endblock %}

{% block contenido %}

<h1>Panel Presidente de Junta</h1>

<ul>
    <li><a href="{% url 'mis_datos' %}">Mis datos</a></li>
</ul>

<h2>Servicios disponibles</h2>

<ul>
    <li><a href="{% url 'solicitudes_presidente' %}">Solicitudes</a></li>
    <li><a href="{% url 'vecinos_mi_junta' %}">Vecinos de la junta</a></li>
    <li><a href="{% url 'certificados_presidente' %}">Certificados emitidos</a></li>
    <li><a href="{% url 'generar_certificado' %}">Descargar mi certificado de residencia</a></li>
</ul>
<a href="{% url 'logout' %}">Cerrar sesión</a>

{% endblock %}