{% extends "base_login.html" %}
{% load static %}

{% block titulo %}
Registro
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block contenido %}

<h2>Registro de Vecino</h2>

<form method="POST">
    {% csrf_token %}

    <div class="registro-grid">

        <div>
            <label>Rut</label>
            <input
                type="text"
                id="rut"
                name="rut"
                value="{{ datos.rut|default:'' }}"
                maxlength="12"
                placeholder="12.345.678-K"
                autocomplete="off"
                required
            >
        </div>

        <div>
            <label>Primer Nombre</label>
            <input 
                type="text" 
                pattern="^(?=.*[A-Za-zÁÉÍÓÚáéíóúÑñ])[A-Za-zÁÉÍÓÚáéíóúÑñ\s'-]+$" 
                title="Ingrese solo letras." 
                name="pri_nombre" 
                value="{{ datos.pri_nombre|default:'' }}" 
                required>
        </div>

        <div>
            <label>Segundo Nombre</label>
            <input 
                type="text" 
                pattern="^(?=.*[A-Za-zÁÉÍÓÚáéíóúÑñ])[A-Za-zÁÉÍÓÚáéíóúÑñ\s'-]+$" 
                title="Ingrese solo letras." 
                name="seg_nombre" 
                value="{{ datos.seg_nombre|default:'' }}">
        </div>

        <div>
            <label>Apellido Paterno</label>
            <input 
                type="text" 
                pattern="^(?=.*[A-Za-zÁÉÍÓÚáéíóúÑñ])[A-Za-zÁÉÍÓÚáéíóúÑñ\s'-]+$" 
                name="apell_paterno" 
                value="{{ datos.apell_paterno|default:'' }}" 
                required>
        </div>

        <div>
            <label>Apellido Materno</label>
            <input 
                type="text" 
                pattern="^(?=.*[A-Za-zÁÉÍÓÚáéíóúÑñ])[A-Za-zÁÉÍÓÚáéíóúÑñ\s'-]+$"  
                name="apell_materno" 
                value="{{ datos.apell_materno|default:'' }}" 
                required>
        </div>

        <div>
            <label>Correo</label>
            <input
                type="email"
                name="correo"
                value="{{ datos.correo|default:'' }}"
                placeholder="Tucorreo@ejemplo.com"
                required
            >
        </div>

        <div>
            <label>Teléfono</label>
            <input
                type="text"
                name="telefono"
                value="{{ datos.telefono|default:'' }}"
                maxlength="9"
                pattern="[0-9]{8,9}"
                placeholder="Ej: 912345678"
                required
            >
        </div>

        <div>
            <label>Fecha de Nacimiento</label>
            <input
                type="date"
                name="fecha_de_nacimiento"
                value="{{ datos.fecha_de_nacimiento|default:'' }}"
                max="{{ fecha_maxima }}"
                required
            >
        </div>

    </div>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button class="login-btn" type="submit">
        Registrarse
    </button>

</form>

<div class="login-links">
    <a href="{% url 'login' %}">Volver al login</a>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/rut.js' %}"></script>
{% endblock %}