{% extends "base_panel.html" %}

{% block titulo %}
Crear Solicitud
{% endblock %}

{% block contenido %}

<h1>Crear solicitud</h1>

<form method="POST">
    {% csrf_token %}

    <label>Tipo de solicitud</label><br>
    <select name="id_tsolicitud" required>
        <option value="">Seleccione un tipo</option>
        {% for tipo in tipos %}
            <option value="{{ tipo.id_tsolicitud }}">
                {{ tipo.tipo_solicitud }}
            </option>
        {% endfor %}
    </select>

    <br><br>

    <label>Descripción</label><br>
    <textarea name="descripcion" rows="5" required></textarea>

    <br><br>

    <button type="submit">Enviar solicitud</button>
</form>

<br>

<a href="{% url 'mis_solicitudes' %}">Volver</a>

{% endblock %}