{% extends "base_panel.html" %}

{% block titulo %}
Juntas
{% endblock %}

{% block contenido %}

<h1>Juntas de vecinos</h1>

<a href="{% url 'crear_junta' %}">
    + Crear junta
</a>

{% if juntas %}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Dirección sede</th>
            <th>Sector</th>
            <th>Comuna</th>
            <th>Región</th>
            <th>Acciones</th>
        </tr>

        {% for junta in juntas %}
            <tr>
                <td>{{ junta.nombre }}</td>
                <td>{{ junta.direccion }}</td>
                <td>{{ junta.id_sector.nombre_sector }}</td>
                <td>{{ junta.id_sector.id_comuna.nom_comuna }}</td>
                <td>{{ junta.id_sector.id_comuna.id_region.nom_region }}</td>
                <td>
                    <a href="{% url 'editar_junta' junta.id_junta %}">Editar</a>
                    |
                    <a href="{% url 'eliminar_junta' junta.id_junta %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No hay juntas registradas.</p>
{% endif %}

{% endblock %}