<h1>Vecinos de la junta: {{ junta.nombre }}</h1>

<a href="{% url 'asignar_vecino_junta' junta.id_junta %}">
    + Asignar vecino a esta junta
</a>
<br><br>

<a href="{% url 'crear_directiva' junta.id_junta %}">
    + Crear directiva
</a>
<br><br>

<a href="{% url 'asignar_cargo_junta' junta.id_junta %}">
    + Asignar cargo
</a>

<br><br>

{% if vecinos_data %}
    <table border="1" cellpadding="8">
        <tr>
            <th>Nombre</th>
            <th>RUT</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Cargo actual</th>
            <th>Fecha inicio</th>
            <th>Acciones</th>
        </tr>

        {% for item in vecinos_data %}
        <tr>
            <td>
                {{ item.registro.id_vecino.pri_nombre }}
                {{ item.registro.id_vecino.apell_paterno }}
                {{ item.registro.id_vecino.apell_materno }}
            </td>
            <td>{{ item.registro.id_vecino.rut }}</td>
            <td>{{ item.registro.id_vecino.correo }}</td>
            <td>
                {{ item.registro.id_vivienda.nombre_calle }}
                {{ item.registro.id_vivienda.numero_calle }}

                {% if item.registro.id_vivienda.num_block %}
                    Block {{ item.registro.id_vivienda.num_block }}
                {% endif %}

                {% if item.registro.id_vivienda.num_dpto %}
                    Dpto {{ item.registro.id_vivienda.num_dpto }}
                {% endif %}
            </td>
            <td>{{ item.cargo_actual }}</td>
            <td>{{ item.registro.fecha_ini }}</td>
            <td>
                <a href="{% url 'quitar_vecino_junta' junta.id_junta item.registro.id_vecino.id_vecino %}">
                    Quitar
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Esta junta está vacía actualmente. No tiene vecinos asignados.</p>
{% endif %}

<br>

<a href="{% url 'listar_juntas' %}">Volver a juntas</a>